
<div class="btn-group" style="padding-top: 5px; padding-left: 5px;">
    <a id="1" routerLink="/calcular-media" routerLinkActive="active-link" class="btn btn-primary"  >Calcular Média</a>
    <a id="2" routerLink="/calculadora" routerLinkActive="active-link" class="btn btn-primary">Calculadora</a>
    <a id="3" routerLink="/cadastro-aluno" routerLinkActive="active-link" class="btn btn-primary">Cadastro de Alunos</a>
    <a id="4" routerLink="/apolice-seguro" routerLinkActive="active-link" class="btn btn-primary">Apólice de Seguro</a>
  </div>

<router-outlet></router-outlet>
